.topnav {

    overflow: hidden;
    background-color: #ADEFD1FF;
    margin-bottom: 15px;

}

.topnav a {

    float: right;
    color: black;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    font-family: Papyrus, fantasy;
}

.topnav p {

    float: left;
    color: black;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Papyrus, fantasy;
}


body {
    background-color: gray;
    margin: 0px;
}
